@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
  /* PRIMARY COLOR */
  --primary-color: hsl(172, 67%, 45%);

  /* NEUTRAL COLORS */
  --very-dark-cyan: hsl(183, 100%, 15%) ;
  --dark-grayish-cyan: hsl(186, 14%, 43%) ;
  --grayish-cyan: hsl(184, 14%, 56%) ;
  --light-grayish-cyan: hsl(185, 41%, 84%) ;
  --very-light-grayish-cyan: hsl(189, 41%, 97%) ;
  --white: hsl(0, 0%, 100%);

  /* FONT FAMILY */
  --font-family:'Space Mono', monospace;

  /* FONT SIZE */
  --font-size: 24px;
  --font-size-small: 18px;
  --font-size-medium: 24px;
  --font-size-large: 36px;

  /* FONT WEIGHT */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* PAGE THEME */
  --page-background-color: var(--very-light-grayish-cyan);
  --page-text-color: var(--grayish-cyan);
  --page-link-color: var(--dark-grayish-cyan);
  --page-link-hover-color: var(--very-dark-cyan);
  --page-border-color: var(--grayish-cyan);

  background-color: var(--page-background-color);
  color: var(--page-text-color);

    font-family: var(--font-family);
      font-size: var(--font-size);
      font-weight: var(--font-weight-normal);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}