  /* PRIMARY COLOR */
  $primary-color: hsl(172, 67%, 45%);

  /* NEUTRAL COLORS */
  $very-dark-cyan: hsl(183, 100%, 15%);
  $dark-grayish-cyan: hsl(186, 14%, 43%);
  $grayish-cyan: hsl(184, 14%, 56%);
  $light-grayish-cyan: hsl(185, 41%, 84%);
  $very-light-grayish-cyan: hsl(189, 41%, 97%);
  $white: hsl(0, 0%, 100%);

  /* FONT FAMILY */
  $font-family: "Space Mono", monospace;

  /* FONT SIZE */
  $font-size-small: 18px;
  $font-size-medium: 24px;
  $font-size-large: 28px;
  $font-size-xlarge: 36px;

  /* FONT WEIGHT */
  $font-weight-light: 300;
  $font-weight-normal: 400;
  $font-weight-bold: 700;